body {
	margin: 0;
	padding: 0;
	background: url("bgnouvel-an2.png")no-repeat center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

#snowflakeContainer {
	position: absolute;
	left: 0px;
	top: 0px;
}
.snowflake {
	padding-left: 15px;
	font-family: Cambria, Georgia, serif;
	font-size: 14px;
	line-height: 24px;
	position: fixed;
	color: #FFFFFF;
	user-select: none;
	z-index: 1000;
}
.snowflake:hover {
	cursor: default;
}

img {
	display: block;
	margin: auto;
	width: 100%;
	margin-top: 10%;
	margin-left: 20%;
	min-width: 170px;
}

.text {
	margin: 5%;
	margin-top: 50%;
	color: white;
	font-size: 35px;
	font-family: 'Give You Glory', cursive;
}


